main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-summary {
    display: flex;
    flex-direction: column;
}

#img {
    max-width: 400px;
    width: auto;
}


.payment-details-1 {
    display: flex;
    flex-direction: column;
    width: 200px;
}

fieldset {
    max-width: 400px;
}

#hey{
    display: flex;
    flex-direction: column;
}

.checkout-area-visa {
    display: flex;
    flex-direction: column;
    width: 300px;
    display: none;
}


@media (max-width: 900px) {
    nav {
        display: none;
    }
    #hamb-menu:checked ~ nav{
        display: block;
    }
}