@font-face {
    font-family: "Mukta";
    src: url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
}


:root {
    --bright-blue: #2496C6;
    --bc-yellow: #F2B70F;
    --text-grey: #302d2d;
    --main-font: "helvetica neue";
}

main {
    min-height: 100vh;
    font-family: var(--main-font);
    text-transform: uppercase;
}

input {
    width: 50%;
    align-self: center;
    border: none;
    height: 25px;
    padding: 10px;
    margin: 10px;
}

.fab {
    padding: 20px;
}

.fab:hover {
    color: blue;
}


.submit-signup {
    background: var(--bc-yellow);
    color: var(--text-grey);
    text-decoration: none;
    margin: auto;
    padding: 10px 20px;
    border-radius: 3px;
}


@media (max-width: 1115px) {
    nav {
        display: none;

    }
    #hamb {
        display: block;
        position: absolute;
        right: 0px;}
    .home-link {
        width: 200px;
    }
}
