:root {
    --bright-blue: #2496C6;
    --bc-yellow: #F2B70F;
    --text-grey: #302d2d;
}
header h1 {
    display: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
}

/*_________________*/

body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background: #0082b1;
    display: flex;
    place-content: center;
}

.home-button {
    width: 260px;
}

.products-image {
    border-radius: 3px;
}

main {
    background: url(/images/background-image.png);
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

main div {
    display: flex;
    margin: 20px;
}

main div div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav {
      position: absolute;
      top: 160px; 
      right: 4px;
      display: flex;
      flex-direction: column;
      background: white;
      height: 70vh;
      justify-content: space-evenly;
      width: 200px;
      z-index: 1;
   } 

   nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: normal;
    padding-left: 10px;
}

nav a:hover {
    color: var(--bright-blue);
}

.eyy {
    display: none;
}

@media (max-width: 900px) {



    .eyy {
        display: block;
        height: 50px;
        width: 50px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .bart {
        display: block;
        width: 25px;
        height: 3px;
        margin: 7px auto;
        background-color: white;
    
    }

    .eyy.active .bar:nth-child(2) {
        opacity: 0;
    }
    .eyy.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .eyy.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar {
        top: 75px;
        gap: 0;
        flex-direction: column;
        background-color: #0082b1;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        left: 100%;
    }

    .navbar.active {
        left: 0;
    }


    .home-button {
        width: 200px;
    }
    main {
        align-items: center;
    }

    main div {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    
    main img {
        width: 100%;
    }
    

    footer {
        flex-direction: column;
    }
}

/*-------------------------------------------------*/




div div button {
    background: rgb(221, 221, 156);
    color: var(--text-grey);
    text-decoration: none;
    padding: 5px 30px;
    border-radius: 2px;
    border: 0px;
}

div div button:hover {
    cursor: pointer;
}

.process {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 1.3%;
}









/*_____*/

footer {
    background-color: var(--bc-yellow);
    position: relative;
    align-items: center;
    display: flex;
    bottom: 0px;

}
.footer-text {
    flex: 1;
    font-family: var(--main-font);
    color: var(--text-grey);
    text-align: left; 
    margin-left: 5px;
}
.footer-icons {
    flex: 1;
    display: row;
    padding: 30px;
}
